include .coveragerc
include .travis.yml
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_raspberryjam/ext.conf
include tox.ini

recursive-include tests *.py
recursive-include vendor
recursive-include src
recursive-include mopidy_raspberryjam/static *