<div class="card">
    <div class="card-image">
        <img class="img-responsive" src="http://www.lyriki.com/images/thumb/4/40/AlbumArt-Streetlight_Manifesto-Somewhere_in_the_Between_%282007%29.jpg/250px-AlbumArt-Streetlight_Manifesto-Somewhere_in_the_Between_%282007%29.jpg">
    </div><!-- card image -->

    <div class="card-content">
        <span name="player-title" class="card-title">We Will Fall Together</span><br/>
        <span name="player-artist" class="card-subtitle"><i>Streetlight Manifesto</i></span><br/>
        <span name="player-album" class="card-subtitle">Somewhere in the Between</span><br/>
        <span name="player-genre" class="card-subtitle">Ska</span>
        <span name="player-length" class="card-subsubtitle">6m26s</span>
    </div><!-- card content -->
    <div class="card-action">
      <div class="progress player-progress">
        <div id="player-remaining" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
</div>
