<div class="row">
  <div class="col-md-1 col-sm-12 player-albumart">
   <img src="http://www.lyriki.com/images/thumb/4/40/AlbumArt-Streetlight_Manifesto-Somewhere_in_the_Between_%282007%29.jpg/250px-AlbumArt-Streetlight_Manifesto-Somewhere_in_the_Between_%282007%29.jpg"/>
  </div>
  <div id="player-controls" class="col-md-11 col-sm-12 player-info">
    <div class="row">
      <div class="col-md-6 col-sm-12 player-title">
        <p><b>We Will Fall Together</b></p>
      </div>
      <div class="col-md-6 col-xs-12" style="text-align:right;">
        <small>Ska</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 player-artist">
        <small style="color:#CCC;">Streetlight Manifesto</small>
      </div>
      <div class="col-md-6 col-xs-12" style="text-align:right;">
        <small style="color:#CCC;">0:06:02</small>
      </div>
    </div>
    <div class="progress player-progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        3 min 1 s remaining
      </div>
    </div>
  </div>
</div>