<div class="col-xs-12">
<div class="panel queue-panel panel-primary" ng-controller="QueueCtrl">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Queue ({{queue.length}} songs, {{timeToStr(queueTimeTotal());}})</b></h3>
  </div>
  <div class="panel-body queue-body">
    <button id="sidebarToggle"><i class="fa fa-bars"></i></button>
    <table class="queue-table">
      <tr class='queue-row' ng-repeat="song in queue track by $index">
        <!--<td style="padding-right:10px;"><b>{{$index+1}}.</b></td>-->
        <td style="width:80px;height:80px;">


<div class='wrapper'>  
    <!-- image -->  
    <img src='{{song.img}}' />  
    <!-- description div -->  
    <div class='description'>  
        <!-- description content -->  
        <p class='description_content'>{{timeToStr(song.runtime);}}</p>  
        <!-- end description content -->  
    </div>  
    <!-- end description div -->  
</div>  
        <td style="">
          <table class="song-table">
            <tr>
              <td>{{song.title}}</td>
              <td style="text-align:right"><small style="color:grey;"></small></td>
            </tr>
            <tr>
              <td><small style="color:grey;">{{song.artist}}</small></td>
              <td>{{}}</td>
            </tr>
            <tr>
              <td><small><i>{{song.genre}}</i></small></td>
              <td></td>
            </tr>
          </table>
        </td>
        <td style="">
          <table class="vote-table">
            <tr><td><i class="fa fa-angle-up"></i></td></tr>
            <tr><td><i class="fa fa-angle-down"></i></td></tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
