<div class="col-xs-12">
	<div class="artist-header row panel">
        <div style="" class="col-xs-12 col-md-4 bg_blur ">
            <img style="margin-left:auto;margin-right:auto;" src="assets/cd.png" class="img-responsive">
        </div>
        <div class="col-md-8  col-xs-12">
           <div class="header">
                <h1>Lorem Ipsum</h1>
                <h4>Web Developer</h4>
                <p>DDescrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon Descrtastdon escrtastdon </p>
            </div>
        </div>
    </div>
</div>
