<div class="col-xs-12">
	<div class="artist-header row panel">
        <div style="" class="col-xs-12 col-md-4 bg_blur ">
            <img id="artist-img" style="margin-left:auto;margin-right:auto;" src="{{album.images.length > 0 ? album.images[0] : 'assets/cd.png'}}" class="img-responsive">
    </div>
        <div class="col-md-8  col-xs-12">
           <div class="header">
                <h1 ng-bind="album.name">Loading...</h1>
                <h4 ng-bind="(album.tracks != null ? 'track'.pluralize(album.tracks.length) : '')"></h4>
                
                <button type="button" class="btn btn-default" aria-label="Add entire album to queue">
                  <i class="fa fa-plus-circle"></i> Add Album
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table ng-if="album.tracks.length > 0" class="table table-responsive table-hover">
                <thead>
                    <th></th>
                    <th>Title</th>
                    <th style="text-align:right;"><i class="fa fa-clock-o"></i></th>
                </thead>
                <tbody>
                    <tr name="row_{{track.uri}}" ng-repeat="track in album.tracks">
                        <td width="32px" style="text-align:center;"><a ng-click="addToQueue(track.uri)"><i class="fa fa-plus-circle"></i></a></td>
                        <td>{{track.name}}</td>
                        <td style="text-align:right">{{timeToStr(track.length/1000)}}</td>
                    </tr>
                </tbody>
            </table>
                <p ng-if="album.tracks.length == 0">No tracks</p>
        </div>
    </div>
</div>
